<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683306875070-mpjtqviqu7nb3ti35ntubuh8otf8dq7k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683306875070-mpjtqviqu7nb3ti35ntubuh8otf8dq7k</string>
	<key>API_KEY</key>
	<string>AIzaSyCDWY3On_xRhbkucEijVUJ6s1T7xzXj3po</string>
	<key>GCM_SENDER_ID</key>
	<string>683306875070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NQT.Sorted</string>
	<key>PROJECT_ID</key>
	<string>sorted-4d6c1</string>
	<key>STORAGE_BUCKET</key>
	<string>sorted-4d6c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683306875070:ios:1b7d731a8efa416a</string>
	<key>DATABASE_URL</key>
	<string>https://sorted-4d6c1.firebaseio.com</string>
</dict>
</plist>